*{
    margin:0;
    padding:0;
    background-color:darkseagreen;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13%;
    
}
.wel{
    color:darkblue;
    font-size: 3em;
}

.info{
    font-size: 2em;    
}